<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.anja.meteorquest">

    <dist:module dist:instant="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Quest"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Minigames.BalanceGame"></activity>
        <activity android:name=".Minigames.RightTilt" />
        <activity android:name=".Minigames.LeftTilt" />
        <activity android:name=".Minigames.TiltStart" />
        <activity
            android:name=".Minigames.MazeGame"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PlayerRole"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".Other.GeofenceTransitionService" />
        <service android:name=".Other.Accelerometer" />
        <service android:name=".NavigationMethod.Flashlight" />

        <activity
            android:name=".Minigames.ChargeTheBattery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.MeteorQuest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Other.GameScreen"
            android:screenOrientation="portrait" />
        <activity android:name=".Other.Victory" />
        <activity android:name=".NavigationMethod.NavigationActivity" />

        <service
            android:name=".NavigationMethod.UserLocation"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Other.GameIntro" />
        <activity android:name=".Minigames.PuzzleQuest" />
        <activity android:name=".Other.Introduction" />
        <activity android:name=".Other.Ready2StartGame" />
        <activity android:name=".Other.GameCompleted" />
    </application>

</manifest>