<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anja.meteorquest">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Quest"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.anja.meteorquest.PlayerRole"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.anja.meteorquest.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.example.anja.meteorquest.Other.GeofenceTransitionService" />
        <service android:name="com.example.anja.meteorquest.Other.Accelerometer" />
        <service android:name="com.example.anja.meteorquest.NavigationMethod.Flashlight" />

        <activity
            android:name="com.example.anja.meteorquest.Minigames.ChargeTheBattery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.anja.meteorquest.Other.Countdown"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.anja.meteorquest.Other.NFC"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.example.android.beam" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.anja.meteorquest.Minigames.MeteorQuest"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.anja.meteorquest.Other.GameScreen"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.anja.meteorquest.Other.Victory" />
        <activity android:name="com.example.anja.meteorquest.NavigationMethod.NavigationActivity" />

        <service
            android:name="com.example.anja.meteorquest.NavigationMethod.UserLocation"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.example.anja.meteorquest.Other.GameIntro" />
        <activity android:name="com.example.anja.meteorquest.Minigames.PuzzleQuest" />
        <activity android:name="com.example.anja.meteorquest.Other.Introduction" />
        <activity android:name="com.example.anja.meteorquest.Other.Ready2StartGame" />
        <activity android:name="com.example.anja.meteorquest.Other.GameCompleted"></activity>
    </application>

</manifest>